<% content_for :features, "template" %>
<% content_for :class, "template" %>

<!-- Navbar will come here -->

<!-- end navbar -->

<div class="wrapper">
     <div class="container">


     </div>
</div>
