<div class="separator"></div>

<footer class="footer footer-transparent" style="background-image: url('assets/img/thumb.jpg')">

  <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->

  <div class="container">
    <nav class="pull-left">
      <ul>
        <li><%= link_to "Home", pages_home_path %></li>
        <li><%= link_to "About", pages_about_path %></li>
        <li><%= link_to "Contact", pages_contact_path %></li>
      </ul>
    </nav>
    <div class="social-area pull-right">
      <a href="https://www.facebook.com/whatsgood">
        <i class="fa fa-facebook-square"></i>
      </a>
      <a href="https://twitter.com/whatsgood">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/whatsgood">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://www.yelp.com/whatsgood">
        <i class="fa fa-yelp"></i>
      </a>
    </div>
    <div class="copyright">
      &copy; 2016 TrueIntelligence Design, developed by Urban Nerd
    </div>
  </div>
</footer>